


<div class="inputContainer">
    <div class="textContainer">
    <h2>Here are your results</h2>
     <p>{{ result }} </p>
     <p>{{ title }}</p>

        <div class="textDescription">
        About: <p>{{ description }}</p>
        Release Date: <p>{{ releaseDate }}</p>
        </div>

    <p>{{ statusCode }}</p>
    <p>{{result}}</p>
    </div>

</div>
